body{
    margin: 0%;
    padding: 0%;
    background-color: antiquewhite;
}


header{
    display: flex;
    justify-content: space-around;
    column-gap: 900px;
    align-items: center;
    border-bottom: 2px solid  antiquewhite ;
    box-shadow: 0px 5px 2px gainsboro;
    text-decoration: none;
    background-color: white;
    position: fixed;
    width: 100%;
}



.dh2{
    display: flex;
    column-gap: 20px;
   
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: blue;
   
}
main{
    background-color: white;
    height: 600px;
    width: 100%;
    display: flex;
    
}

.m1{

   display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 50%;
      background-color: white;
}
 .m1a{
          border: 2px solid black;
          height: 200px;
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          box-shadow: 2px 4px 10px  antiquewhite;
          font-weight:bold;
          font-size: 30px;
          background-color: aqua;
        
 }

 .m2{
       display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 70%;
      background-color: white;

 }



 .div1{
    height: 300px;
    width: 100%;
   
    display: flex;
    justify-content: center;
   
  
  
  

 }


 .About{
    background-color: white;
    height: 280px;
    width:95% ;
    border-radius: 15px;
 }

 .aboutp{
    display: flex;
    font-size: 22px;
    padding-left: 12px;
 }

 

.Edu{




    width: 100%;
    height: 300px;
    display: flex;
   
    justify-content: center;
}
   
.Edu1{


    height: 300px;
    width: 95%;
    background-color: white;
     
    border-radius: 15px;
   
}
.edu1a{

    width: 90%;
    height: 100px;
    background-color: white;
    display: flex;
    column-gap: 5px;
    justify-content: space-around;
}

.dk{
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.MCA{
    background-color:  antiquewhite;
    width: 40%;
    border-radius: 15px;
    box-shadow: 2px 4px 10px black;
   
}
.MCA:hover
{
    background-color: blue;
}

.my{
    width: 100%;
    height: 650px;
   
}

.Skill{
    display: flex;
   justify-content: center;
    column-gap: 25px;
}
.s{
    width: 17.5%;
    height: 220px;
    display: flex;
    background-color: white;
    background-size: cover;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 3px 1px 8px black;

}
.s:hover{
    width: 18%;
    height: 222px;
    display: flex;
    background-color:blue;
    background-size: cover;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 5px 8px black;

   

}





img{
    width: 100px;
    height: 75px;
    display: flex;
    background-size: cover;
    justify-content: center;
    
}

.project{

    width: 100%;
    height: 500px;
   

}

.p{
    width: 100%;
    height: 300px;
   
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.p1{

    width: 30%;
    height: 300px;
    background-color:white;
    border-radius: 10px;
}


.pg{
    margin: 0%;
    padding-top: 10%;
    background-color: grey;
    height: 150px;
    width: 100%;
    border-top-left-radius:  10px;
    border-top-right-radius:10px ;
}

.pg:hover
{
 box-shadow: 2px 5px 8px gray;
}

.p1:hover
{
      box-shadow: 5px 5px 8px gray;
       box-shadow: -5px -5px -8px gray;
}


.last1{
    display: flex;
    justify-content: center;
 
    height: 300px;

}
.l{
    background-color: white;
    width: 50%;
    height: 200px;
    border-radius: 15px;
}

.l:hover
{
     
       box-shadow: 5px 5px 8px gray;
    
}

footer{
    background-color: grey;
    color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
