*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

/* important keyword  */
.navbar{
    background-color: blue !important;
}
.nav-link{
    color: wheat !important;
}

body{
    background-color: black;
}